{% extends "base.html" %} {% from 'bootstrap5/form.html' import render_field %}
{% block content %}
<div class="container-fluid">
  <h3>Navigate to></h3>
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <a class="btn btn-secondary" href="{{ url_for('invoice.invoice_form') }}"
        >Billing Entry</a
      >
    </div>
    <div class="col-auto">
      <a class="btn btn-secondary" href="{{ url_for('invoice.invoice') }}"
        >Print Invoice</a
      >
    </div>
    <div class="col-auto">
      <a
        class="btn btn-secondary"
        href="{{ url_for('registration.booking_1') }}"
        >Guest Registration</a
      >
    </div>
    <div class="col-auto">

      <a class="btn btn-secondary" href="{{ url_for('login.register') }}"
        >Register New User</a
      >
    </div>
    <div class="col-auto">

      <a class="btn btn-secondary" href="{{ url_for('registration.bookings_today') }}"
        >Today's Bookings</a>
    </div>
    </div>

    {% endblock %}
  </div>
</div>
