{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/table.html' import render_table %}

{% block styles %}
{{super()}}
<style>
  .action_icon {
    font-size: large;
  }

</style>
{% endblock %}

{% block content %}

<div class="container">

  <h3>Print Invoice</h3>
  <hr>
  <form method="POST" action="{{ url_for('printinvoice') }}">
    {{ form.csrf_token }}

    <div class="row">
      <div class="form-group col-md-3">
        {{ render_field(form.invoice_num) }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Print</button>
    <a class='btn btn-danger' href="{{ url_for('homepage') }}">Cancel</a>

  </form>

  <hr>

  <h3>Recent Invoices</h3>

  <!-- edit_url =('invoice_form',[('invoice_id', ':id')]), -->


  {{
  render_table(
  invoices,
  titles=titles,
  show_actions=True,
  model=InvoiceHeaders,
  delete_url =('delete_invoice',[('invoice_id', ':id')]),
  custom_actions=[('save', 'save', ('save_invoice', [('invoice_id', ':id')]))]
  )
  }}

</div>

{% endblock %}