{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_field %}
{% from 'bootstrap4/table.html' import render_table %}

{% block styles %}
{{super()}}
<style>
  .no-label .control-label {
    display: none;
  }

</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">

  $("#payee").on('keydown', function () {
    $("#guest").val($(this).val());
  });

  $(function populate() {

    var table = document.getElementById("data");
    var tbody = table.getElementsByTagName("tbody")[0];
    var rows = tbody.getElementsByTagName("tr");

    function populateRow(index, addBlurEvent) {
      var row = rows[index];
      var cells = row.getElementsByTagName("td")
      var select = row.getElementsByTagName("select");
      var textboxes = row.getElementsByTagName("input");

      var charge = select[0];
      var hsn = textboxes[0];
      var sell_rate = textboxes[2];
      var inclusion = textboxes[3];
      var subtotal = textboxes[4];
      var cgst = textboxes[5];
      var sgst = textboxes[6];
      var total = textboxes[7];

      update();

      function update() {
        updateHSN();
        updateSubTotal();
        updateGST();
        updateTotal();
      }

      function updateHSN() {
        var send = { charge: charge.value };
        $.getJSON("{{ url_for('get_hsn') }}", send, function (data) {
          hsn.value = data;
        });
      }

      function updateGST() {
        var send = { price: subtotal.value };
        $.getJSON("{{ url_for('get_gst') }}", send, function (data) {
          cgst.value = data;
          sgst.value = data;
        });
      }

      function updateSubTotal() {
        sr = sell_rate.value.length > 0 ? parseFloat(sell_rate.value) : 0
        inc = inclusion.value.length > 0 ? parseFloat(inclusion.value) : 0
        subtotal.value = sr + inc
      }

      function updateTotal() {
        sub = subtotal.value.length > 0 ? parseFloat(subtotal.value) : 0
        ct = cgst.value.length > 0 ? parseFloat(cgst.value) : 0
        st = sgst.value.length > 0 ? parseFloat(sgst.value) : 0
        total.value = sub + ct + st
      }

      console.log('index :' + index + ' charge:' + charge.value)

      if (addBlurEvent) {
        charge.onblur = function () { populateRow(index, false); };
        sell_rate.onblur = function () { populateRow(index, false); };
        inclusion.onblur = function () { populateRow(index, false); };
        subtotal.onblur = function () { populateRow(index, false); };
      }

    }

    for (i = 0; i < rows.length; i++) {
      populateRow(i, true);
    }

  });


</script>
{% endblock %}


{% block content %}

<div class="container-fluid">

  <h3>Billing Entry</h3>
  <hr>
  <form method="POST" action="{{ url_for('invoice_form') }}" ,enctype="multipart/form-data" novalidate>
    {{ form.csrf_token() }}

    <br>
    <div class="row">

      <div class="form-group col-md-3">
        {{
        render_field(form.hotel, class= 'form-control',
        placeholder = 'Hotel')
        }}
      </div>

      <div class="form-group col-md-2">
        {{
        render_field(form.invoice_num, class= 'form-control',
        placeholder = 'Invoice#')
        }}
      </div>

      <div class="form-group col-md-2">
        {{
        render_field(form.invoice_date, class= 'form-control',
        placeholder = 'Invoice Date')
        }}
      </div>

      <div class="form-group col-md-2">
        {{
        render_field(form.booking_id, class= 'form-control',
        placeholder = 'Booking ID')
        }}
      </div>

      <div class="form-group col-md-2">
        {{
        render_field(form.booking_date, class= 'form-control',
        placeholder = 'Booking Date')
        }}
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-3">
        {{
        render_field(form.payee, id='payee',class= 'form-control',
        placeholder = 'Payee')
        }}
      </div>

      <div class="form-group col-md-3">
        {{
        render_field(form.guest, id='guest',class= 'form-control',
        placeholder = 'Guest Name')
        }}
      </div>

      <div class="form-group col-md-3">
        {{
        render_field(form.guest_details, id='guest_details',class= 'form-control',
        placeholder = 'Guest Details')
        }}
      </div>

      <div class="form-group col-md-2">
        {{
        render_field(form.rooms, class= 'form-control',
        )
        }}
      </div>

    </div>


    <hr>
    <br>
    <div class="row">
      <div class="form-group col-md-2">
        {{
        render_field(form.arrive, class= 'form-control',
        placeholder = 'Arrival Date')
        }}
      </div>

      <div class="form-group col-md-2">
        {{
        render_field(form.depart, class= 'form-control',
        placeholder = 'Departure Date')
        }}
      </div>



      <div class="form-group col-md-2">
        {{
        render_field(form.nights, class= 'form-control',
        )
        }}
      </div>
    </div>

    <button type="submit" name='button' value='Add Row' class='btn btn-primary'>Add Row</button>
    <button type="submit" name='button' value='Delete Row' class='btn btn-danger float-right'>Delete Row</button>
    <br>
    <br>
    <div class="table-responsive">
      <table id="data" class="table table-sm">
        <thead>
          <tr>
            <th style="text-align: center; width: 13%">Particulars</th>
            <th style="text-align: center;">HSN/SAC</th>
            <th style="text-align: center;">Stay Date</th>
            <th style="text-align: center;">Sell Rate</th>
            <th style="text-align: center;">Inclusion</th>
            <th style="text-align: center;">Sub Total</th>
            <th style="text-align: center; width: 8%">CGST</th>
            <th style="text-align: center; width: 8% ">SGST</th>
            <th style="text-align: center;">Total</th>

          </tr>
        </thead>
        <tbody>
          {% for line in form.lines %}
          <tr class="no-label">
            <td>{{ render_field(line.particulars,form_type='inline', class= 'form-control', onblur="populate()" )}}
            </td>
            <td>{{ render_field(line.hsnsac, form_type='inline',class='form-control') }}</td>
            <td>{{ render_field(line.stay_date, form_type='inline',class='form-control') }}</td>
            <td>{{ render_field(line.sell_rate, form_type='inline',class='form-control', onblur="populate()") }}</td>
            <td>{{ render_field(line.inclusion, form_type='inline',class='form-control', onblur="populate()") }}</td>
            <td>{{ render_field(line.subtotal, form_type='inline',class='subtotal form-control', onblur="populate()") }}
            </td>
            <td>{{ render_field(line.cgst, form_type='inline',class='form-control') }}</td>
            <td>{{ render_field(line.sgst, form_type='inline',class='form-control') }}</td>
            <td>{{ render_field(line.total, form_type='inline',class='form-control') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <br>
    <h3>Payment</h3>
    <br>
    <div class="row">

      <div class="form-group col-md-3">
        {{ render_field(form.payment_mode, class='form-control', placeholder='Payment Mode') }}
      </div>

      <div class="form-group col-md-3">
        {{render_field(form.tpr, class='form-control', placeholder='Total Payment Received') }}
      </div>

      <div class="form-group col-md-3">
        {{render_field(form.npa, class='form-control', placeholder='Net Payable Amount') }}
      </div>
    </div>
    
    <hr>

    <button type="submit" name='button' value='Submit' class="btn btn-primary">Submit</button>

    <a class='btn btn-danger' href="{{ url_for('homepage') }}">Cancel</a>

</div>

<br>
<br>

</form>
</div>

{% endblock %}